body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e4e4e4;
    color: black;
    font-size: 16px;
    line-height: 2.5;
    text-align: justify;
    margin-top: 0px;
    margin-right: 200px;
    margin-left: 200px;
}

header {
    color: #007BFF;
    border-radius: 1px;
    border-style: solid;
}

header a {
    color: #007BFF;
    text-decoration: none;
    margin-right: 25px;
}

header a:hover {
    color: red;
    text-decoration: underline;
}

a {
    color: #007BFF !important;
}

.store_title {
    font-size: 50px;
}

p {
    border-bottom: 1px solid #444444;
    color: #434343;
}

p.style_one {
    font-style: italic;
    color: #555;
    font-size: 20px;
    margin-top: 0px;
}

h1 {
    color: #212529;
    text-align: center;
}

h2 {
    color: black;
    text-align: center;
    border-color: #212529;
    border-radius: 1px;
    border-style: solid;
}

/* h3 {
    text-align: center;
    font-style: italic;
    font-size: 25px;
} */

#last_added {
    color: #007BFF;
    text-decoration: underline;
}

ul, ol {
    padding-left: 20px;
}

ol li {
    margin-left: 20px;
    margin-bottom: 5px;
    color: rgb(91, 83, 255);
    list-style-type: upper-roman;
}

/* dl dt {
    font-weight: bold;
    font-size: 20px;
    color: #555;
} */

dl dd {
    margin-left: 20px;
    background-color: #c0c0c0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 1px;
    border-style: solid;
    font-family: fantasy;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #c0c0c0;
    color: #495057;
    text-align: center;
}

.logo {
    margin-top: 20px;
    display: block;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.page_image {
    margin-top: 20px;
    display: block;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

p > b {
    color: rgb(3, 163, 255); 
    text-decoration: underline double rgb(1, 82, 129);
 }

 dl dt {
    color: rgb(3, 247, 255); 
    border: 5px solid rgb(0, 179, 255);
    background-color: rgb(168, 168, 168);
    padding-left: 10px;
 }

 h1 i {
    color: rgb(0, 116, 120); 
    text-decoration: wavy underline;
 }

 b + i {
    color: rgb(0, 8, 255); 
    text-decoration-line: underline;
    text-shadow: 2px 2px rgb(161, 161, 161);
 }